.section-about {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  color: var(--secondary-text);
  padding-bottom: 60px;
  padding-top: 3px;
  max-width: 700px;
}

.section-about h2 {
  display: none;
}

@media (max-width: 1000px) {
  .section-about {
    font-size: 15px;
    line-height: 28px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .section-about h2 {
    display: block;
  }
}

@media (max-width: 768px) {
  .section-about {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .section-about {
    font-size: 13.5px;
    line-height: 24px;
    padding-bottom: 25px;
  }
}