footer {
  font-weight: 400;
  color: var(--muted-text);
  font-size: 15px;
  line-height: 20px;
  margin-top: 60px;
}

footer span {
  font-weight: 500;
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 20px;
}

footer span:hover {
  color: var(--accent-hover);
}

footer span a {
  font-weight: 500;
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 20px;
}

footer span a:hover {
  color: var(--accent-hover);
  cursor: pointer;
}

@media (max-width: 768px) {
  footer {
    margin-left: 0px;
  }
}
