body {
  background: #0f172a;
  color: #e2e8f0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.layout {
  font-family:
    __inter_20b187,
    __inter_Fallback_20b187,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  position: sticky;
  top: 10px;
  bottom: 0;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.right {
  width: 60%;
  padding: 71px 0;
}

#about,
#projects,
#skills,
#contact {
  scroll-margin-top: 80px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .layout {
    display: block;
    padding: 10px 30px;
  }

  .left {
    position: relative;
    width: 100%;
    padding-top: 30px;
  }
  
  .right {
    width: 100%;
    padding-top: 0px;
    margin-top: 60px;
  }
}
